@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Edu+NSW+ACT+Foundation&family=Mouse+Memoirs&family=Rampart+One&family=Saira:wght@100;400&display=swap');

h1 {
    text-align: center;
    color: cornflowerblue;
    font-family:'Courier New', Courier, monospace;
    font-size: 5em;
    text-decoration-line: overline;
    text-decoration-color: red;
  }

  h2 {
   font-family: 'Mouse Memoirs', sans-serif;
   color:rgb(225, 92, 92);
   font-size: 2.5em;
  }

  .cover {
    width:500px;
    height:500px;
  }

  nav{
    background-color: blue;
    padding: 10px;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 25px;
    
  }

  nav a {
    color: whitesmoke;
    font-size: 1.5em;
  }

  nav a:hover{
    color: green;
    text-decoration: none;
  }
  
  body {
    background-color: lightblue;
    text-align: center;
  }
  
  main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
  }
  
  label{
    font-family: 'Saira', sans-serif;
    color:blue;
    
  }